$primary-lighter: #FAFCEE;
$primary-light: #E6ECD2;
$primary-medium: #737B58;
$primary-dark: #585C4A;
$primary-darker: #4B5850;

$body-bg: $primary-light;
$link-hover-color: $primary-medium;

$theme-colors: (
        "primary": $primary-dark,
        "secondary": $primary-medium,
        "background_one": $primary-light,
        "background_two": $primary-light,
        "danger": #ff4136
);

html {
  scroll-behavior: smooth;
}

h1, h3, h4 {
  color: $primary-darker;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

nav {
  font-size: 12px;
  height: 70px;
  margin-bottom: 10px;
  //background-color: $primary-light;
}

.hamburger {
  margin: auto;
}

.logo {
  height: 32px;
  width: 32px;

  &:hover {
    filter: brightness(125%);
  }
}

.navbar-nav > li{
  padding-right: 15px;
}

nav .navbar-nav li a {
  color: $primary-dark;
}

.first-element {
  padding-top: 70px;
}

.navbar-brand {
  position: absolute;
  color: $primary-dark;
}

.navbar-toggler {
  position: absolute;
  right: 0;
}

.btn-primary {
  position: absolute;
  right: 0;
  border-radius: 50px;
  margin-right: 90px;
}

.hero-page {
  display: flex;
  margin: auto;
  justify-content: center;
  min-height: calc(100vh - 120px);
  gap: 5%;
  flex-direction: column;
  padding-bottom: 25%;

  .mouse {
    width: 40px;
    height: 65px;
    margin: 0 auto;
    margin-top: 32px;
    bottom: 30px;
    border: 5px solid $primary-dark;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
  }

  @keyframes scroll {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  .scroll-dot {
    width: 8px;
    height: 8px;
    position: relative;
    top: 16px;
    border-radius: 100px;
    background-color: $primary-dark;
    margin: auto;
    -webkit-animation: scroll 2s infinite;
    -o-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
  }

  .room {
    margin: 0 auto;
    width: 60%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .hero-right {
    margin: 5% auto;
  }

  .hero-title {
    padding-top: 92px;
    color: $primary-dark;
  }
}

@keyframes cursor-animation {
  0%, 100% {
    color: transparent;
  }
  49% {
    color: transparent;
  }
  50% {
    color: inherit;
  }
  99% {
    color: inherit;
  }
}

.text-cursor::after {
  content: "|";
  position: relative;
  -webkit-animation: cursor-animation 1s infinite;
  -o-animation: cursor-animation 1s infinite;
  animation: cursor-animation 1s infinite;
}

.btn-primary {
  height: 45px;
  width: 100px;
  border-radius: 10px;
}

.page-section {
  min-height: 100vh;
  height: fit-content;
  padding-top: 120px;
}

.section-lighter {
  background-color: $primary-lighter;
}

.section-light {
  background-color: $primary-light;
}

.heading {
  text-align: center;
}

.work-section {
  padding-top: 32px;

  .job-title {
    display: flex;
    flex-direction: column;
    color: $primary-dark;
  }

  .job-link {
    text-decoration: none;
    color: $primary-darker;

    &:hover {
      filter: brightness(120%);
    }
  }

  .date {
    float: right;
    font-size: 12px;
    color: $primary-medium;
  }
}

.project-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 75px;

  .project {
    width: 330px;
    height: 330px;
    background-color: $primary-light;
    transform: translateY(0);
    box-shadow: none;
    transition: all 100ms ease-out;
    padding: 24px;
    border-radius: 8px;

    .project-header {
      display: flex;
      justify-content: space-between;
    }

    .project-body {
      position: relative;
    }

    .technologies-used {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      position: absolute;
      bottom: 24px;

      span {
        border-radius: 8px;
        padding: 5px 10px;
        border: 1px solid $primary-darker;
      }
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    a {
      text-decoration: none;
    }
  }
}

.console-header {
  height: 40px;
  background-color: #BDBBB6;
  border-radius: 5px 5px 0px 0px;
}

.console-container {
  font-family: "Courier New", serif;
  background-color: $primary-darker;
  color: $primary-lighter;
  padding: 40px;
}

.contact-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 10px;

  .contact-details {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input-field {
      width: 100%;
      border-radius: 5px;
      border: $primary-darker solid 1px;
      padding: 5px 10px;
      background-color: #fbfff9;
    }
  }

  .email-body {
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: $primary-darker solid 1px;
    padding: 5px 10px;
    background-color: #fbfff9;
    min-height: 120px;
  }

  .btn-submit {
    position: relative;
    width: 100%;
  }
}

.contact-links {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.footer {
  padding: 16px;
  height: fit-content;
  text-align: center;

  span {
    font-size: 12px;
    color: $primary-medium;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
@include media-breakpoint-up(sm) {
  .hero-page .hero-title {
    font-size: 30px;  //mobile
  }
}
@include media-breakpoint-up(md) {
  nav {
    font-size: initial;
  }

  .nav-link {
    background-color: transparent;
  }

  .first-element {
    padding-top: 0;
  }

  .last-element {
    margin-right: 100px;
  }

  .btn-resume {
    margin-right: 0;
  }

  .hero-page {
    .hero-title {
      font-size: 48px;  //tablet
    }

    .room {
      width: 50%;
    }
  }

  .project-section {
    flex-direction: row;
  }

  .work-section .job-title {
    flex-direction: row;
    justify-content: space-between;
  }
}
@include media-breakpoint-up(lg) {
  nav {
    height: 120px;
  }

  .navbar-nav > li{
    padding-right: 60px;
  }

  .hero-page {
    flex-direction: row;

    .hero-right {
      width: 40%;
      margin: auto 0;
    }

    .hero-title {
      font-size: 72px;
    }

    .room {
      margin: initial;
      width: 35%;
    }
  }
}