$primary-lighter: #FAFCEE;
$primary-light: #E6ECD2;
$primary-medium: #737B58;
$primary-dark: #585C4A;
$primary-darker: #4B5850;

$body-bg: $primary-light;

$theme-colors: (
        "primary": $primary-dark,
        "secondary": $primary-medium,
        "background_one": $primary-light,
        "background_two": $primary-light,
        "danger": #ff4136
);

body {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  height: 5000px;
}

nav {
  font-size: 12px;
  height: 80px;
}

button.navbar-toggler:focus {
  outline: 1px none;
}

.right-nav {
  position: absolute;
  right: 80px;
  display: flex;
  gap: 15px;
}

nav .navbar-nav li a {
  color: $primary-darker !important;
}

.navbar-brand {
  color: $primary-dark !important;
}

.btn-resume {
  position: absolute;
  right: 100px;
  height: 1000px;
  width: 5em;
}

.inline {

}

.hero-page {
  display: flex;
  margin: auto;
  justify-content: center;
  min-height: 100vh;
  gap: 5%;
  flex-direction: column;
  padding-bottom: 25%;
}

.title-mouse {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto 0;
  justify-content: center;
}

.mouse {
  width: 40px;
  height: 65px;
  position: absolute;
  left: calc(50% - 20px);
  bottom: 30px;
  border: 5px solid $primary-dark;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
}

@keyframes scroll {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.scroll-dot {
  width: 8px;
  height: 8px;
  position: relative;
  top: 16px;
  border-radius: 100px;
  background-color: $primary-dark;
  margin: auto;
  -webkit-animation: scroll 2s infinite;
  -o-animation: scroll 2s infinite;
  animation: scroll 2s infinite;
}

.hero-title {
  color: $primary-dark;
  margin: 5% auto;
}

.room {
  margin: 0 auto;
  width: 60%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes cursor-animation {
  0%, 100% {
    content: " "
  }
  50% {
    content: "|"
  }
}

.text-cursor::after {
  content: " ";
  position: relative;
  -webkit-animation: cursor-animation 1s infinite;
  -o-animation: cursor-animation 1s infinite;
  animation: cursor-animation 1s infinite;
}

.experience {
  height: fit-content;
  background-color: $primary-lighter;
}

.btn-primary {
  height: 45px;
  width: 100px;
  border-radius: 10px;
}

@import "../node_modules/bootstrap/scss/bootstrap";
@include media-breakpoint-up(sm) {
  .hero-title {
    font-size: 30px;  //mobile
  }
}
@include media-breakpoint-up(md) {
  nav {
    font-size: initial;
  }

  .btn-resume {
    right: 0;
  }

  .hero-title {
    font-size: 48px;  //tablet
  }

  .room {
    width: 50%;
  }
}
@include media-breakpoint-up(lg) {
  nav {
    height: 120px;
  }

  .right-nav {
    gap: 60px;
  }

  .hero-page {
    flex-direction: row;
  }

  .hero-title {
    font-size: 72px;
    width: 40%;
    margin: auto 0;
  }

  .room {
    margin: initial;
    width: 35%;
  }
}