$primary-lighter: #FAFCEE;
$primary-light: #E6ECD2;
$primary-medium: #737B58;
$primary-dark: #585C4A;
$primary-darker: #4B5850;

$body-bg: $primary-light;
$link-hover-color: $primary-medium;

$theme-colors: (
        "primary": $primary-dark,
        "secondary": $primary-medium,
        "background_one": $primary-light,
        "background_two": $primary-light,
        "danger": #ff4136
);

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

nav {
  font-size: 12px;
  height: 80px;
}

.hamburger {
  margin: auto;
}

.navbar-nav > li{
  padding-right: 15px;
}

nav .navbar-nav li a {
  color: $primary-darker;
}

.first-element {
  padding-top: 70px;
}

.navbar-brand {
  position: absolute;
  color: $primary-darker;
}

.navbar-toggler {
  position: absolute;
  right: 0;
}

.btn-primary {
  position: absolute;
  right: 0;
  border-radius: 50px;
  margin-right: 90px;
  padding: 10000px;
}

.hero-page {
  display: flex;
  margin: auto;
  justify-content: center;
  min-height: calc(100vh - 120px);
  gap: 5%;
  flex-direction: column;
  padding-bottom: 25%;
}

.mouse {
  width: 40px;
  height: 65px;
  margin: 0 auto;
  margin-top: 32px;
  bottom: 30px;
  border: 5px solid $primary-dark;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
}

@keyframes scroll {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.scroll-dot {
  width: 8px;
  height: 8px;
  position: relative;
  top: 16px;
  border-radius: 100px;
  background-color: $primary-dark;
  margin: auto;
  -webkit-animation: scroll 2s infinite;
  -o-animation: scroll 2s infinite;
  animation: scroll 2s infinite;
}

.room {
  margin: 0 auto;
  width: 60%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hero-right {
  margin: 5% auto;
}

.hero-title {
  padding-top: 92px;
  color: $primary-dark;
}

@keyframes cursor-animation {
  0%, 100% {
    color: transparent;
  }
  49% {
    color: transparent;
  }
  50% {
    color: inherit;
  }
  99% {
    color: inherit;
  }
}

.text-cursor::after {
  content: "|";
  position: relative;
  -webkit-animation: cursor-animation 1s infinite;
  -o-animation: cursor-animation 1s infinite;
  animation: cursor-animation 1s infinite;
}

.btn-primary {
  height: 45px;
  width: 100px;
  border-radius: 10px;
}

section {
  height: fit-content;
  padding-top: 150px;
}

.section-lighter {
  background-color: $primary-lighter;
}

.section-light {
  background-color: $primary-light;
}

.heading {
  text-align: center;
}

.work-section {
  padding-top: 32px;
}

.console-header {
  height: 40px;
  background-color: #BDBBB6;
  border-radius: 5px 5px 0px 0px;
}

.console-container {
  font-family: "Courier New", serif;
  background-color: $primary-darker;
  color: $primary-lighter;
  padding: 40px;
}

@import "../node_modules/bootstrap/scss/bootstrap";
@include media-breakpoint-up(sm) {
  .hero-title {
    font-size: 30px;  //mobile
  }
}
@include media-breakpoint-up(md) {
  nav {
    font-size: initial;
  }

  .nav-link {
    background-color: transparent;
  }

  .first-element {
    padding-top: 0;
  }

  .last-element {
    margin-right: 100px;
  }

  .btn-resume {
    margin-right: 0;
  }

  .hero-title {
    font-size: 48px;  //tablet
  }

  .room {
    width: 50%;
  }
}
@include media-breakpoint-up(lg) {
  nav {
    height: 120px;
  }

  .navbar-nav > li{
    padding-right: 60px;
  }

  .hero-page {
    flex-direction: row;
  }

  .hero-right {
    width: 40%;
    margin: auto 0;
  }

  .hero-title {
    font-size: 72px;
  }

  .room {
    margin: initial;
    width: 35%;
  }
}